.project-content {
  .project-list {
    display: flex;
    flex-wrap: wrap;
    .project-item {
      position: relative;
      display: flex;
      align-items: flex-end;
      margin: 50px;
      width: 580px;
      // width: 495px;
      &:nth-child(2n) {
        margin-left: 50px;
      }
      $thumbnail-wd: 230px;
      .thumbnail {
        position: relative;
        width: $thumbnail-wd;
        // width: 180px;
        // height: 260px;
        background-color: #fff;
        // width: 260px;
        // overflow: hidden;
        // > img {
        //   position: relative;
        //   left: -40px;
        //   max-width: initial;
        //   height: 100%;
        // }
        box-shadow: 5px 0 15px 5px rgba(0, 0, 0, 0.1);
      }
      .info {
        width: calc(100% - #{$thumbnail-wd});
        height: 235px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.07);
      }
    }
  }
}
