.app-sidebar {
  z-index: 11;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  padding: 0 60px;
  padding-top: 80px;
  background-color: #fff;
  box-sizing: border-box;

  .profile {
    padding-top: 20px;
    text-align: center;
    figure {
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 1px solid #ddd;
        box-sizing: border-box;
      }
      figcaption {
        margin-top: 15px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 22px;
        color: #999999;
        // font-weight: 500;
      }
    }
  }

  .nav {
  }
}
