@import '../../assets/sass/parts/variables';

.search-bar {
  z-index: 12;
  position: relative;
  display: flex;
  align-items: center;
  height: 110px;
  padding-left: 100px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
  .input-cover {
    display: flex;
    align-items: center;
    width: 270px;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
    color: #ddd;
    .mdi-magnify {
      font-size: 34px;
    }
    .form-input.search {
      font-size: 24px;
      border: 0;
      box-shadow: none;
      &::placeholder {
        color: #dddddd;
      }
    }
  }
}
