@import '../../../assets/sass/parts/variables';

.app-header {
  $ml: $sidebar-wd;
  z-index: 12;
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
  width: calc(100% - #{$sidebar-wd});
  left: $ml;
  padding-left: 50px;
  // padding-left: $pl;
  background-color: #7c92fa;
  box-sizing: border-box;
  font-size: 25px;
  color: #fff;
}