@import '../../../assets/sass/parts/variables';

.app-header {
  $ml: $sidebar-wd;
  // z-index: 12;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: calc(100% - #{$sidebar-wd});
  left: $ml;
  // padding-left: 40px;
  padding-left: 20px;
  // padding-left: $pl;
  background-color: $header-color;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.045);
  .app-header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-header {
    // font-size: 25px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
  }
}
