@import './assets/sass/reset';
@import './assets/sass/base';
@import url('./assets/fonts/notosanskr/notosanskr.css?display=swap');
@import url('./assets/fonts/mdi/css/materialdesignicons.min.css?display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  font-family: $font-stack;
  color: $font-color;
  // background-color: #fafcff;
  background-color: #f1f1f1;
}

main#main {
  position: relative;
  width: calc(100% - #{$sidebar-wd});
  left: $sidebar-wd;
}

.app {
  min-width: 1500px;
}

.page-content {
  padding: 40px;
}

h1,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  // line-height: 1.2;
}
.page-content {
}
.card {
  position: relative;
  background-color: #fff;
  border-radius: 0.55rem;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  .header {
    color: #424242;
    padding: 20px;
    position: relative;
    box-shadow: none;
    h2 {
      font-size: 15px;
      color: #757575;
      position: relative;

      strong {
        color: $primary-color;
      }
      small {
        display: block;
        margin-top: 5px;
        color: #757575;
        font-size: 13px;
        line-height: 15px;
        font-weight: 400;
      }
      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 1px;
        background-color: $primary-color;
        position: absolute;
        top: -20px;
      }
    }
  }
  .body {
    font-size: 14px;
    color: #424242;
    padding: 20px;
    font-weight: 400;
    h3 {
      font-size: 20px;
      line-height: 1.3;
      margin-bottom: 15px;
    }
    // h5,
    // .h5 {
    //   font-size: 1.57em;
    //   line-height: 1.4em;
    //   margin-bottom: 15px;
    // }
    // h6 {
    //   // font-size: 1em;
    //   font-weight: 700;
    //   text-transform: uppercase;
    // }
    p {
      // font-size: 15px;
      line-height: 1.6;
    }
  }
}
.card-lg {
  width: 1150px;
}
// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-float infinite 3s ease-in-out;
//   }
// }

// .App-header {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
// }

// .App-link {
//   color: rgb(112, 76, 182);
// }

// @keyframes App-logo-float {
//   0% {
//     transform: translateY(0);
//   }

//   50% {
//     transform: translateY(10px)
//   }

//   100% {
//     transform: translateY(0px)
//   }
// }
